<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" fxFlexAlign="start" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{ dish.name }}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click) = "goBack()">Back</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions> 
    </mat-card>
    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>

  <div fxFlex="40" fxFlexAlign="start" *ngIf="dish" [@visibility]="visibility"  [@expand]>
    <mat-list *ngIf="dish">
      <h3>Comments</h3>
    <mat-list-item *ngFor="let comment of dish.comments">
      <p matLine> {{comment.comment}} </p>
      <p matLine> {{comment.rating}} Stars</p>
      <p matLine> -- {{comment.author}}  {{comment.date | date}}</p>
    </mat-list-item>
  </mat-list>

  <mat-list *ngIf="commentForm.valid  && !(commentForm.pristine)" >
    <mat-list-item>
      <p matLine >{{commentForm.value.message}} </p>
      <p matLine >{{commentForm.value.rating}} Stars</p>
      <p matLine >-- {{commentForm.value.author}}</p>
    </mat-list-item>
  </mat-list>

  <div 
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column" >

  <form fxFlex novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="full-width">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </mat-form-field>
      </p>
      <p> 
          <mat-slider formControlName="rating"  max="5" thumbLabel tickInterval="1"></mat-slider> 
      </p>
      <p>
        <mat-form-field  class="full-width">
          <textarea matInput formControlName="message" placeholder="Your Comment" rows=12></textarea>
          <mat-error *ngIf="formErrors.message">{{formErrors.message}}</mat-error>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
</div>

  </div>

</div>
