<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dish && !dishErrMess" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>
  <div [hidden]="dish || dishErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="dishErrMess">
    <h2>dishError</h2>
    <p>{{ dishErrMess.statusText }}</p>
    <pre>{{ dishErrMess | json }}</pre>
  </div>

<mat-card *ngIf="promotion && !promotionErrMess" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
  <mat-card-content>
    <p>{{promotion.description}}
    </p>
  </mat-card-content>
</mat-card>
  <div [hidden]="promotion || promotionErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="promotionErrMess">
    <h2>promotionError</h2>
    <p>{{ promotionErrMess.statusText }}</p>
  </div>

<mat-card *ngIf="leader && !leaderErrMess" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leader.name | uppercase}} {{ leader.abbr }}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
  <mat-card-content>
    <p>{{leader.designation}}</p>
    <p>{{leader.description}}</p>
  </mat-card-content>
</mat-card>
<div [hidden]="leader || leaderErrMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="leaderErrMess">
    <h2>leaderError</h2>
    <p>{{ leaderErrMess.statusText }}</p>
  </div>

</div>